 
@if(isLoading){
  <app-loader/>
  }
  @else {
    <app-navbar></app-navbar>
<div *ngIf="request" class="container">
  <div class="back">
    <button [routerLink]="dashboardRoute">Back</button>
  </div>
  <div class="top">
    <div class="top-container">
      <div class="pic">
        <img [src]="profileImageUrl" alt="" class="image">
      </div>
      <div class="cmpName">
        <div class="names flex">
        <div class="name">
        <h2 class="name">{{request.user?.username}}</h2>
        </div>
        <div class="imgs">
          <img src="verified.png" alt="" class="verified">
      </div>
      </div>
        <div class="loc">
          <h5>{{request.location}}</h5>
        </div>
      </div>
    
    </div>
  </div>
  <div class="event-info">
    <div class="urgency-wrapper">
      <div class="urgency">Urgency</div>
      <div class="event-title">
        <button [ngClass]="getPriorityClass(request.priority)">
          {{ request.priority | titlecase }} Priority
        </button>
      </div>
    </div>
    <div class="event-date" [ngClass]="getDaysLeftClass(request.requiredDate)">     {{ getDaysLeftText(request.requiredDate) }}
    </div>  
  </div>

  <div class="content">
    <h2 class="reqTitle">{{ request.title }}</h2>
    <div class="description-wrapper" (click)="toggleDescription()">
      <p class="description-text" *ngIf="!showFullDescription">
        {{ getShortDescription(request.description) }}
      </p>
    
      <p class="description-text" *ngIf="showFullDescription">
        {{ request.description }}
      </p>
 <!-- Uploaded Images Section -->
<div *ngIf="request?.mediaUrls?.length" class="uploaded-images">
  <h3 class="font-[700] need">What we're in need of:</h3>
  <div class="image-gallery">
    <img *ngFor="let url of request.mediaUrls" [src]="url" alt="Uploaded image" class="uploaded-img" />
  </div>
</div>

    </div>
    

    <button class="donate-btn" [routerLink]="['/options', request.id]">Donate</button>

    <!-- <div class="donors-section">
      <h2>Previous Donors</h2>

      <div class="donor" *ngFor="let donor of donors">
        <div class="donor-info">
          <div class="donor-name">{{ donor.name }}</div>
          <div class="donor-date">{{ donor.date }}</div>
        </div>
        <div class="donor-amount">{{ donor.amount }}</div>
      </div>
    </div> -->
  </div>
 <!-- <div *ngIf="showThankYouMessage" style="color: green; font-weight: bold; font-size: 18px;">
  Thank you! The organization has confirmed your donation.
</div> -->
<div *ngIf="donations.length > 0" class="messages">
  <div>
    <h1 class="messageHeading">Recent Sponsors:</h1>
  </div>
  <div *ngFor="let donation of donations">
   <p class="messageP"> Thank you <strong>{{ donation.donorName }}</strong> for donating to this organisation!</p>
  </div>
</div>

  
</div>
<app-footer></app-footer>
  } 
 