<div
  class="min-h-screen bg-white flex flex-col items-center justify-center p-4">
  <div class="p-6">
    <h5 class="mb-1 text-xl font-medium text-black text-center ">
      Special title treatment
    </h5>
    <h6
      class="mb-2 text-base font-medium leading-tight text-surface/75 dark:text-neutral-300">
      Card subtitle
    </h6>
    <p class="mb-4 text-base leading-normal">
      Some quick example text to build on the card title and make up the
      bulk of the card's content.
    </p>
    <a
      type="button"
      href="#"
      class="pointer-events-auto me-5 inline-block cursor-pointer rounded text-base font-normal leading-normal text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:text-primary-400">
      Card Link
    </a>
    <a
      type="button"
      href="#"
      class="pointer-events-auto inline-block cursor-pointer rounded text-base font-normal leading-normal text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:text-primary-400">
      Another Link
    </a>
  </div>
</div>