<app-navbar></app-navbar>
<div class="text-center mb-2 container">
    <h1 class="text-2xl font-bold text-black mb-1">
      My Sponsorship Requests
    </h1>
    <p class="text-sm text-black py-2">
      Manage your organisation's sponsorship requests
    </p>
  </div>
  
  <!-- ✅ Sponsor Feed -->
  <div *ngIf="donations.length === 0" class="text-center text-gray-600 py-8">
    You have no sponsorship activity yet.
  </div>
  <div class="mother">
  <div *ngFor="let donation of donations" class="donation-item mt-4">
    <div class="bg-white rounded-lg shadow-sm border border-slate-200 p-6">
      <div class="mb-4">
        <p class="text-gray-500 text-sm">Sponsorship request for</p>
        <h2 class="text-lg font-bold text-gray-800">
          {{ donation.description }}
        </h2>
      </div>
  
      <div class="flex items-center mb-6">
        <div class="mr-3">
          <img
            class="h-10 w-10 rounded-full"
            [src]="donation.profileImageUrl || 'logo.png'"
            alt="Profile"
          />
        </div>
        <div class="flex-grow">
          <h3 class="text-gray-800 font-medium">
            {{ donation.donorName }}
          </h3>
          <p class="text-gray-500 text-sm" [ngSwitch]="donation.donorRole">
            <span *ngSwitchCase="'SPONSORS'">Sponsor</span>
            <span *ngSwitchCase="'ORGANIZATION'">Organization</span>
            <span *ngSwitchCase="'INDIVIDUAL'">Individual</span>
            <span *ngSwitchDefault>Unknown</span>
          </p>
        </div>
      </div>
  
      <p class="activity-message text-sm font-medium"
      [ngClass]="{
        'text-yellow-600': donation.status === 'PENDING',
        'text-green-600': donation.status === 'ACCEPTED' && !donation.isReceived,
        'text-blue-600': donation.status === 'ACCEPTED' && donation.isReceived,
        'text-red-600': donation.status === 'DECLINED'
      }">
     {{ getStatusMessage(donation) }}
   </p>
  

    </div>
  </div>
  </div>
  <app-footer></app-footer>