<div class="min-h-screen bg-white flex flex-col items-center justify-center p-4">
  <!-- Header -->
  <div class="text-center mb-8">
    <h1 class="text-3xl font-bold text-black mb-2">In-Need</h1>
  </div>

  <!-- Form -->
  <form [formGroup]=" resetForm" (ngSubmit)="onSubmit()" class="w-full max-w-sm bg-white p-6 rounded-lg border border-gray-300 shadow-xl">
    <!-- Header -->
    <div class="text-center mb-8">
      <h1 class="text-3xl font-bold text-black mb-2">New Password</h1>
      <p class="text-sm text-black py-2">Create New Password</p>
    </div>

    <!-- Password Field -->
    <div class="mb-5 relative">
      <div>
        <label for="password" class="block mb-1 text-xs font-medium text-black">Password</label>
         <input [type]="showPassword ? 'text' : 'password'" id="password" name="password" formControlName="password"
          class="w-full p-2 pr-10 text-sm bg-white border border-gray-600 rounded-md text-black placeholder-gray-400 focus:ring-1 focus:ring-gray-300 focus:border-gray-500 outline-none transition"
          placeholder="********" required minlength="8" maxlength="15" />
        <button type="button" (click)="showPassword = !showPassword" class="absolute right-2 top-6.5 text-lg">
          <span *ngIf="showPassword"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-500">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg></span>
          <span *ngIf="!showPassword"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-500">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M3.988 5.844A1.352 1.352 0 0 0 2.36 7.175l1.455 1.455A1.353 1.353 0 0 0 3.988 5.844ZM12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-1.232 0-2.435-.295-3.553-.84l4.244-4.243a3 3 0 1 0-4.243-4.243L3.988 5.844Z" />
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M14.25 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM4.5 9.75l-1.5-1.5" />
            </svg></span>
        </button>

        <div *ngIf="resetForm.get('password')?.touched && resetForm.get('password')?.errors" class="mt-1 text-xs text-red-400">
          <div *ngIf="resetForm.get('password')?.errors?.['required']">
            Password is required
          </div>
          <div *ngIf="resetForm.get('password')?.errors?.['minlength']">
            Password must be at least 8 characters long
          </div>
          <div *ngIf="resetForm.get('password')?.errors?.['maxlength']">
            Password must be at most 15 characters long
          </div>
          <div *ngIf="resetForm.get('password')?.errors?.['pattern']">
            Password must contain at least one number, 
            one uppercase letter, 
            one lowercase letter, 
            one special character, 
            and no spaces
          </div>
        </div>
      </div>
    </div>

    <!-- Confirm Password Field -->
    <div class="mb-8 relative">
      <div>
        <label for="confirmPassword" class="block mb-1 text-xs font-medium text-black">Confirm Password</label>
        <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" name="confirmPassword"
          formControlName="confirmPassword"
          class="w-full p-2 text-sm bg-white border border-gray-600 rounded-md text-black placeholder-gray-400 focus:ring-1 focus:ring-gray-300 focus:border-gray-500 outline-none transition"
          placeholder="********" required minlength="8" maxlength="15" />
        <button type="button" (click)="showConfirmPassword = !showConfirmPassword"
          class="absolute right-2 top-6.5 text-lg">
          <span *ngIf="showConfirmPassword"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-500">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg></span>
          <span *ngIf="!showConfirmPassword"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-500">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M3.988 5.844A1.352 1.352 0 0 0 2.36 7.175l1.455 1.455A1.353 1.353 0 0 0 3.988 5.844ZM12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-1.232 0-2.435-.295-3.553-.84l4.244-4.243a3 3 0 1 0-4.243-4.243L3.988 5.844Z" />
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M14.25 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM4.5 9.75l-1.5-1.5" />
            </svg></span>
        </button>

        <div *ngIf="resetForm.get('confirmPassword')?.touched && resetForm.get('confirmPassword')?.errors" class="mt-1 text-xs text-red-400">
          <div *ngIf="resetForm.get('confirmPassword')?.errors?.['required']">
            Confirm Password is required
          </div>
          <div *ngIf="resetForm.get('confirmPassword')?.errors?.['pattern']">
            Password must contain at least one number, 
            one uppercase letter, 
            one lowercase letter, 
            one special character, 
            and no spaces
          </div>
          <div *ngIf="resetForm.errors?.['mismatch'] && resetForm.get('confirmPassword')?.touched">
            Passwords do not match.
          </div>
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <button
      type="submit"
      [disabled]="resetForm.invalid || isLoading"
      class="w-full py-2 px-4 bg-[#5B8E7D] hover:bg-indigo-500 text-sm text-white font-medium rounded-md transition duration-200 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:ring-offset-1 focus:ring-offset-gray-800 disabled:opacity-50 disabled:cursor-not-allowed"
    >
      <span *ngIf="!isLoading">Submit</span>
      <span *ngIf="isLoading">Processing...</span>
    </button>
  </form>
</div>

<!-- Success Message Modal -->
<div *ngIf="resetPasswordModal" class="fixed inset-0 bg-white bg-opacity-30 flex items-center justify-center z-50">
  <div class="rounded-lg shadow-xl max-w-md w-full mx-4 border border-gray-300 bg-white">
    <div class="p-6 text-center">
      <div *ngIf="isSuccess; else errorContent">
        <h1 class="text-3xl font-bold text-black mb-2">Password Reset Successful</h1>
        <p class="text-sm text-gray-600 mb-6">{{ message }}</p>
        <button (click)="navigateToLogin()" (click)="resetPasswordModal = false" class="px-4 py-2 bg-blue-400 hover:bg-indigo-500 text-white rounded-md">
          Close
        </button>
      </div>
      <!-- Error Message -->
      <ng-template #errorContent>
        <h1 class="text-3xl font-bold text-black mb-2">Reset Failed</h1>
        <p class="text-sm text-gray-600 mb-6">{{ error }}</p>
        <button (click)="navigateToLogin()" class="px-4 py-2 bg-red-500 hover:bg-red-600 text-white rounded-md">
          Close
        </button>
      </ng-template>
    </div>
  </div>
</div>
