<app-navbar></app-navbar>
<div class="container">
    <div class="search">
        <div class="srcIcon">
            <img src="searchIcon.png" alt="" class="iconLeft">
        </div>
        <div class="inputBox">
            <input type="search" placeholder="Search for an organisation">
        </div>
        <div class="filterIcon">
            <img src="filterIcon.png" alt="" class="iconRight">
        </div>
    </div>
    <div class="reqBtn">
        <div class="reqFormBtn">
            <button (click)="navigateToSponsorRequest()" class="postReq">Post a new request</button>
        </div>
    </div>
</div>
<div class="heading">
    <h3 class="font-bold">Individuals in Need</h3>
    <div *ngFor="let request of requests">
        <p> {{request.title}}</p>
        </div>
</div>
<div class="container2">
    <div class="individualCards carousel">
        <div class="indvCard">
            <div class="thumbnail">
                <img src="donation.jpg" alt="" class="thumbnailPic">
            </div>
            <div class="user">
                <h4 class="names">Nkosi John</h4>
            </div>
            <div class="description">
                <p class="descriptions">Need to pay for school fees so that i Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Veritatis quas consectetur, dolorem nesciunt dicta officia officiis! Impedit
                    reprehenderit amet consequatur.
                <p>
            </div>
            <div class="timestamp">
                <p class="time">2 Hours</p>
            </div>
        </div>
        <div class="indvCard">
            <div class="thumbnail">
                <img src="donation.jpg" alt="" class="thumbnailPic">
            </div>
            <div class="user">
                <h4 class="names">Nkosi John</h4>
            </div>
            <div class="description">
                <p class="descriptions">Need to pay for school fees so that i ...</p>
            </div>
            <div class="timestamp">
                <p class="time">2 Hours</p>
            </div>
        </div>
    </div>
    <div class="heading2">
        <h3 class="font-bold">Organisations in Need</h3>
        <p class="orgP">Verfied organisations ready for your support</p>
    </div>
    <div class="orgCards">
        <div class="orgCard">
            <div class="holder1">
                <div class="profile">
                    <div class="pfp">
                        <img src="org.jpg" alt="" class="image">
                    </div>
                    <div class="companyName">
                        <div class="top">
                            <div class="cmpName">
                                <h2>Mbali's Children Center </h2>
                            </div>
                            <div class="imgs">
                                <img src="verified.png" alt="" class="verified">
                            </div>
                        </div>
                        <div class="companyLoc">
                            <div class="locImg">
                                <img src="loc.png" alt="" class="loc">
                            </div>
                            <div class="address">
                                <p>Gauteng, Johannesburg</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="priority">
                <div class="priotities">
                    <button>High priority</button>
                </div>
            </div>
            <div class="requests">
                <div class="reqTitle">
                    <h1>School supplies</h1>
                </div>
                <div class="desc">
                    <p>Providing educational material for 200+ Children in undeserved communities</p>
                </div>
            </div>
            <div class="progress">
                <div class="daysLeft">
                    <div class="holder3">
                        <div class="dayHeading">
                            <h3>Days Left</h3>
                        </div>
                        <div class="tracker">
                            <button class="fill">
                                <button class="empty"></button>
                            </button>
                        </div>
                    </div>
                    <div class="donate">
                        <div class="donateItems">
                            <button class="donateBtn">Donate</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="orgCards">
        <div class="orgCard">
            <div class="holder1">
                <div class="profile">
                    <div class="pfp">
                        <img src="org.jpg" alt="" class="image">
                    </div>
                    <div class="companyName">
                        <div class="top">
                            <div class="cmpName">
                                <h2>Mbali's Children Center </h2>
                            </div>
                            <div class="imgs">
                                <img src="verified.png" alt="" class="verified">
                            </div>
                        </div>
                        <div class="companyLoc">
                            <div class="locImg">
                                <img src="loc.png" alt="" class="loc">
                            </div>
                            <div class="address">
                                <p>Gauteng, Johannesburg</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="priority">
                <div class="priotities">
                    <button>High priority</button>
                </div>
            </div>
            <div class="requests">
                <div class="reqTitle">
                    <h1>School supplies</h1>
                </div>
                <div class="desc">
                    <p>Providing educational material for 200+ Children in undeserved communities</p>
                </div>
            </div>
            <div class="progress">
                <div class="daysLeft">
                    <div class="holder3">
                        <div class="dayHeading">
                            <h3>Days Left</h3>
                        </div>
                        <div class="tracker">
                            <button class="fill">
                                <button class="empty"></button>
                            </button>
                        </div>
                    </div>
                    <div class="donate">
                        <div class="donateItems">
                            <button class="donateBtn">Donate</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="orgCards">
        <div class="orgCard">
            <div class="holder1">
                <div class="profile">
                    <div class="pfp">
                        <img src="org.jpg" alt="" class="image">
                    </div>
                    <div class="companyName">
                        <div class="top">
                            <div class="cmpName">
                                <h2>Mbali's Children Center </h2>
                            </div>
                            <div class="imgs">
                                <img src="verified.png" alt="" class="verified">
                            </div>
                        </div>
                        <div class="companyLoc">
                            <div class="locImg">
                                <img src="loc.png" alt="" class="loc">
                            </div>
                            <div class="address">
                                <p>Gauteng, Johannesburg</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="priority">
                <div class="priotities">
                    <button>High priority</button>
                </div>
            </div>
            <div class="requests">
                <div class="reqTitle">
                    <h1>School supplies</h1>
                </div>
                <div class="desc">
                    <p>Providing educational material for 200+ Children in undeserved communities</p>
                </div>
            </div>
            <div class="progress">
                <div class="daysLeft">
                    <div class="holder3">
                        <div class="dayHeading">
                            <h3>Days Left</h3>
                        </div>
                        <div class="tracker">
                            <button class="fill">
                                <button class="empty"></button>
                            </button>
                        </div>
                    </div>
                    <div class="donate">
                        <div class="donateItems">
                            <button class="donateBtn">Donate</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>