@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Readex+Pro:wght@160..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Mulish' ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    
}
input{
    width: 100%;
    max-width: 410px;
    /* border: solid 1px gray; */
    border: solid 1px #00000066;

    border-radius:12px ;
    height: 39px;
    padding-left: 42px;
    padding-right: 40px;
    font-family: 'Mulish';
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 37px;
    width: 100%;
}

.search{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
      width: 90%;
    max-width: 450px;
   
}


.heading{
    width: 100%;
    padding-left: 12px;
    margin-top: 10px;
}


.srcIcon{
    position: absolute;
    margin-left: 10px;
}

.iconLeft{
    height: 20px;
    width: 20px;
}
.iconRight{
  height: 20px;
  width: 20px;
}

.filterIcon{
    position: absolute;
    right: 10px;
    z-index: 1;
    border-left: solid 1px gray;
    padding-left: 10px;
}



.inputBox{
    width: 100%;
}

.individualCards{
    width: 90%;
    margin-top: 5px;
}
.indvCard{
    border: solid #00000030;
    width: 185px;
    border-radius: 9px;
 }
.thumbnailPic{
    height: 100px;
    width: 165px;
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.names{
    font-size: 15px;
    font-weight: 800;
    margin-top: 10px;
    margin-left: 10px;
}

.descriptions{
    font-size: 11px;
    margin-left: 10px;
    font-weight: 500;
    margin-top: 5px;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 195px; /* adjust until it fits 'i' */

}

.time{
    font-size: 11px;
    margin-left: 10px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
    color: gray;
}

.individualCards.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 10px;
    padding: 10px 10px 10px 10px;
    width: 100%;
}
  
  .individualCards.carousel::-webkit-scrollbar {
    display: none;
  }
  .individualCards.carousel {
    scrollbar-width: none; 
  }
  
  .indvCard {
    flex: 0 0 auto;
    scroll-snap-align: start;
  }

  .container2{
    padding-left: 8px;
    margin-bottom: 100px;
    padding-bottom: 30px;
  }
  
  .orgP{
   font-size: 12px;
   font-weight: 800;
   color: gray;
}
  @media (max-width: 480px) {
    .individualCards.carousel {
        padding-left: 16px;
        padding-right: 8px;
        gap: 9px;
    }
}

.image{
    height: 50px;
    width: 50px;
    border-radius:50px ;
    margin-left: 5px;
}


.profile{
    display: flex;
}
.orgCards{
    margin-top: 10px;
}


.orgCard{
    border: solid #00000030;
    border-radius: 9px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 5px;
}

.top{
    display: flex;
}

.verified{
    height: 18px;
    width: 18px;
    margin-top: 4px;
    margin-left: 5px;
}

.companyName{
    margin-left: 10px;
    font-weight: 700;
    margin-bottom: 2px;
}
.loc{
    height: 13px;
    width: 13px;
    margin-top: 3px;
    margin-right: 2px;
}
.companyLoc{
    display: flex;
    font-size: 12px;
    color: gray;
    font-weight: 800;
}

.holder{
    border: solid;
}

.priority{
    text-align: end;
    padding-right:8px;
    margin-top: 3px;
}

button{
    background-color: #c1121e72;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    height: 20px;
    font-size: 13px;
    color: #C1121F;
    font-weight: 800;
}

.reqTitle{
    font-size: 13px;
    font-weight: 800;
}

/* .desc{
    font-size: 12px;
    color: gray;
    margin-top: 5px;
} */

.desc {
  font-size: 12px;
  color: gray;
  margin-top: 5px;

  display: -webkit-box;
  -webkit-line-clamp: 2;  
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.requests{
    padding-left: 5px;
    margin-top: 4px;
}

.empty{
    background-color: #219EBC;
    margin-left: -47px;
    width: 50px;

}

.fill{
    background-color: #D9D9D9;
    width: 100px;
}

.dayHeading{
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 2px;
}

.progress{
    margin-top: 10px;
   padding-left: 5px;
}

.daysLeft{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.donate{
  margin-top: 14px;
}

.donateBtn{
    background-color:#5B8E7D;
    color: white;
    padding-top: 5px;
    padding-bottom: 25px;
    font-size: 12px;
    border-radius: 7px;
    width: 110px;
    margin-right: 10px;
}

.progress{
    padding-bottom: 60px;
    background-color: transparent;
}

.reqBtn{
    width: 90%;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-top: 2px;
}

.postReq{
    background-color: #5B8E7D;
    color: white;
    font-weight: 700;
    padding-top: 9px;
    padding-bottom: 28px;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}

.heading2{
    width: 100%;
    padding-left: 12px;
    margin-top: 10px;
    margin-top: 20px;
}

.bar-container {
    width: 125%;
    height: 20px;
    background-color: #D9D9D9;
    border-radius: 12px;
    overflow: hidden;
  }
  
  .bar-fill {
    height: 100%;
    border-radius: 12px;
    background-color: #219EBC;
    transition: width 0.5s ease;
  }
  
  /* Base priority button styles */
.priotities button {
    /* padding: 8px 12px; */
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    height: 25px;

  }
  
  .low-priority {
    background-color: #CCFF3375; 
    color: #000000;

  }
  
  .medium-priority {
    background-color: #FFBA0875; 
    color: #99582A;


  }
  
  .high-priority {
    background-color: #C9575775; 
    color: #C1121F;

  }
  
  .pagination-numbers {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
  }
  
  .pagination-numbers button {
    padding: 8px 12px;
    border: none;
    background-color: transparent;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
  }
  
  .pagination-numbers button:hover {
    color: black;
    border: solid 1px #8f8e8e6b;
    padding-bottom: 26px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 18px;
    height: 30px;
  }
  
  .pagination-numbers button.active {
    border: solid 1px #0000006B;
    padding-bottom: 26px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 18px;
    color: black;
    font-weight: 800;
    height: 30px;

  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 5px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    z-index: 100;
  }
  
  .dropdown-menu select {
    padding: 6px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
  }
  
  .alert-warning {
    padding: 10px;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    border-radius: 6px;
    color: #856404;
    margin-bottom: 15px;
    margin-top: 10px;
    width: 378px;
    font-weight: 700;
  }

  .clickable-alert {
    cursor: pointer;
  }
  .underline {
    text-decoration: underline;
    color: blue;
  }

  .verify-btn{
   color: white;
   background-color: #5B8E7D;
   font-weight: 700;
   font-size: 11px;
    padding-top: 2px;
    padding-bottom: 22px;
    padding-left: 5px;
    padding-right: 8px;
    border-radius: 6px;
  }
  
.no-results{
  text-align: center;
  margin-top: 50px;
  font-weight: 600;
  font-size: 14px;
  color: gray;
}

.badge {
  padding: 16px 12px;
  border-radius: 9999px;
  font-size: 0.875rem;
  font-weight: 600;
  display: inline-block;
  border: 1px solid transparent;
}


/* @media (max-width: 480px) {
    .search {
        width: 90%;
    }
} */