<app-navbar></app-navbar>

<body class="min-h-screen overflow-y-auto bg-gray-100 flex flex-col pb-20 ">
    <div> 
        <div class="flex items-center justify-center space-x-9 mt-8" id="stepper">
            <div class="step w-11 h-11 flex items-center justify-center rounded-full bg-blue-500 text-white text-sm">1</div> 
            <div class="step w-11 h-11 flex items-center justify-center rounded-full bg-blue-500 text-white text-sm">2</div> 
            <div class="step w-11 h-11 flex items-center justify-center rounded-full bg-gray-200 text-gray-500 text-sm">3</div> 
            <div class="step w-11 h-11 flex items-center justify-center rounded-full bg-gray-200 text-gray-500 text-sm">4</div> 
        </div>

        <div class="w-full max-w-sm relative mb-2">
            <div class="absolute -left-3 -top-10 flex items-center space-x-2">
             
             
            </div>
        </div>

        <div class="text-gray-800 text-base font-bold mt-12 text-center">Details</div> 
        <div class="text-gray-500 text-sm font-medium text-center mt-1">Tell us about your donation</div>

        <div class="mt-4 max-w-sm mx-auto p-6 bg-white border border-gray-300 rounded-lg"> 
            <div class="text-gray-800 text-base font-bold mt-1 mb-5 text-center">Donation Type</div>
            <form [formGroup]="sponsorshipForm" class="max-w-sm mx-auto border-gray-300"> 
                <!-- Description -->
                <div class="mb-4 text-gray-500"> 
                    <label for="description" class="block mb-2 text-sm font-medium">
                    Description: <span class="text-gray-500">*</span>
                    </label> 
                    <input 
                    type="text" 
                    id="description" 
                    formControlName="description" 
                    class="bg-gray-50 border border-gray-400 text-gray-700 text-sm rounded-lg w-full p-2.5 
                            focus:ring-blue-500 focus:border-blue-500"
                    /> 
                    <div class="text-red-500 text-xs mt-1" *ngIf="sponsorshipForm.get('description')?.touched && sponsorshipForm.get('description')?.invalid">
                    Description is required.
                    </div>
                </div>

                <!-- Quantity -->
                <div class="form-group mb-4">
                    <label for="quantity" class="form-label block mb-2 text-sm font-medium text-gray-500">
                    Quantity: <span class="text-gray-500">*</span>
                    </label>
                    <input 
                    type="number" 
                    id="quantity" 
                    formControlName="quantity" 
                    class="bg-gray-50 border border-gray-400 text-gray-700 text-sm rounded-lg w-full p-2.5 
                            focus:ring-blue-500 focus:border-blue-500"
                    min="1"
                    />
                    <div class="error-message text-red-500 text-xs mt-1" *ngIf="sponsorshipForm.get('quantity')?.hasError('min') && sponsorshipForm.get('quantity')?.touched">
                    Quantity must be at least 1.
                    </div>
                </div>

                <!-- Required Date -->
                <div class="form-group mb-4">
                    <label for="requiredDate" class="form-label block mb-2 text-sm font-medium text-gray-500">
                    Required By Date: <span class="text-gray-500">*</span>
                    </label>
                    <input 
                    type="date" 
                    id="requiredDate" 
                    formControlName="requiredDate" 
                    class="bg-gray-50 border border-gray-400 text-gray-700 text-sm rounded-lg w-full p-2.5 
                            focus:ring-blue-500 focus:border-blue-500"
                    />
                    <div class="error-message text-red-500 text-xs mt-1" *ngIf="sponsorshipForm.get('requiredDate')?.hasError('pastDate') && sponsorshipForm.get('requiredDate')?.touched">
                    Date cannot be in the past.
                    </div>
                </div>

                <!-- Logistics -->
                <div class="mb-4 text-gray-500"> 
  <label class="block mb-2 text-sm font-medium">
    Logistic Preference: <span class="text-gray-500">*</span>
  </label> 

  <div class="flex flex-wrap gap-4 justify-center">
    <!-- Delivery -->
  
<label class="relative cursor-pointer"> 
  <input type="radio" formControlName="logistics" value="DELIVERY" class="peer hidden" /> 
  <div class="w-[125px] h-[85px] bg-white border border-gray-400 peer-checked:border-[#5B8E7D] rounded-lg flex flex-col items-center justify-center"> 
    <img width="24" height="24" src="https://img.icons8.com/material-outlined/24/truck.png" alt="truck"/>
    <span class="text-sm text-gray-600 mt-1">Delivery</span> 
  </div> 
</label>


    <!-- Pick-up -->
    <label class="relative cursor-pointer"> 
     
      <div class="w-[125px] h-[85px] bg-white border border-gray-300 peer-checked:border-[#c1121f] rounded-lg flex flex-col items-center justify-center"> 
        <img width="24" height="24" opesity-50 src="https://img.icons8.com/ios/50/marker--v1.png" alt="marker--v1"/>
        <span class="text-sm text-gray-300 mt-1">Pick-up</span> 
      </div> 
    </label>
  </div>

  <div class="text-red-500 text-xs mt-1" *ngIf="sponsorshipForm.get('logistics')?.touched && sponsorshipForm.get('logistics')?.invalid">
    Please select a logistics option.
  </div>
</div>


                <!-- Notes -->
                <div class="form-group mb-4 text-gray-500">
                    <label for="notes" class="block mb-2 text-sm font-medium">Additional Notes</label>
                    <textarea 
                    id="notes" 
                    formControlName="notes" 
                    class="bg-gray-50 border border-gray-400 text-gray-700 text-sm rounded-lg w-full p-2.5 focus:ring-blue-500 focus:border-blue-500" 
                    rows="1">
                    </textarea>
                </div>

                <!-- Buttons -->
                <div class="flex flex-wrap gap-4 justify-center"> 
                    <button type="button" class="w-35 py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 flex items-center gap-2 justify-center focus:outline-none bg-gray-200 rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100" (click)="goBack()"> 
                    <img width="17" height="17" src="https://img.icons8.com/ios/50/back--v1.png" alt="back icon"/> Back 
                    </button>


                    <button
                    type="button"
                    id="nextBtn"
                    (click)="goNext()" 
                    class="w-35 py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 flex items-center gap-2 justify-center focus:outline-none bg-[#5B8E7D] rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
                    > 
                    Next <img width="17" height="17" src="https://img.icons8.com/?size=100&id=61&format=png&color=000000" alt="next icon"/>
                    </button>
                </div>
                </form>
        </div>
    </div>
</body>
  <app-footer></app-footer>