/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

body {
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(233, 235, 233, 0.3), rgba(247, 250, 244, 0.9));
  z-index: -1;
}