<!-- 
  
  <div *ngIf="!individual">
    <p>Loading post...</p>
  </div>
  

  <div *ngIf="individual" class="container">

  <div class="event-info">
    <div class="urgency-wrapper">
      <div>Urgency</div>
      <div class="event-title">{{ individual.urgency }}</div>
    </div>
    <div class="event-date">Date: {{ individual.neededByDate }}</div>  
  </div>

  <div class="content">
    <h2>{{ individual.title }}</h2>
    
    <p>{{ individual.description }}</p>

    <button class="donate-btn" [routerLink]="['/options', individual.id]">Donate</button>
  </div>
</div>
<app-footer></app-footer> -->
@if(isLoading){
  <app-loader/>
  }
  @else {
<app-navbar></app-navbar>
<div *ngIf="individual" class="container">
  <div class="back">
    <button [routerLink]="dashboardRoute">Back</button>
  </div>
  <div class="top">
    <div class="top-container">
      <div class="pic">
        <img [src]="profileImageUrl" alt="" class="image">
      </div>
      <div class="cmpName">
        <div class="names flex">
        <div class="name">
        <h2 class="name">Individual</h2>
        </div>
        <div class="imgs">
      </div>
      </div>
        <div class="loc">
          <h5>Gauteng, Johannesburg</h5>
        </div>
      </div>
    
    </div>
  </div>
  <div class="event-info">

    <div class="event-date">  {{ getDaysLeftInfo(individual.neededByDate) }}</div>  
  </div>

  <div class="content">
    <h2 class="reqTitle">{{ individual.title }}</h2>
    <div class="description-wrapper" (click)="toggleDescription()">
      <p class="description-text" *ngIf="!showFullDescription">
        {{ getShortDescription(individual.description) }}
      </p>
    
      <p class="description-text" *ngIf="showFullDescription">
        {{ individual.description }}
      </p>
    </div>
    

    <button class="donate-btn" [routerLink]="['/options', individual.id]">Donate</button>

    <!-- <div class="donors-section">
      <h2>Previous Donors</h2>

      <div class="donor" *ngFor="let donor of donors">
        <div class="donor-info">
          <div class="donor-name">{{ donor.name }}</div>
          <div class="donor-date">{{ donor.date }}</div>
        </div>
        <div class="donor-amount">{{ donor.amount }}</div>
      </div>
    </div> -->
  </div>
</div>
<app-footer></app-footer>
  }