<div
  class="min-h-screen bg-white flex flex-col items-center justify-center p-4"
>
  <!-- Header -->
  <div class="text-center mb-8">
    <h1 class="text-3xl font-bold text-black mb-2">In-Need</h1>
  </div>

  <!-- Form -->
  <form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit()"
    class="w-full max-w-sm bg-white p-6 rounded-lg border border-gray-300 shadow-xl"
  >
    <!-- Header -->
    <div class="text-center mb-8">
      <h1 class="text-3xl font-bold text-black mb-2">Forgot Password</h1>
      <p class="text-sm text-black py-2">
        To reset a forgotten password, enter your email address
      </p>
    </div>

    <!-- Email Field -->
    <div class="mb-6">
      <label for="email" class="block mb-1 text-xs font-medium text-black"
        >Email</label
      >
      <input
        type="email"
        id="email"
        formControlName="email"
        class="w-full p-2 text-sm bg-white border border-gray-600 rounded-md text-black placeholder-gray-400 focus:ring-1 focus:ring-gray-300 focus:border-gray-500 outline-none transition"
        placeholder="example@gmail.com"
      />

      <!-- Validation Errors -->
      @if (submitted && forgotPasswordForm.get('email')?.hasError('required')) {
      <div class="text-xs text-red-400">Email is required</div>
      }@else if (submitted &&
      forgotPasswordForm.get('email')?.hasError('email')) {
      <div class="text-xs text-red-400">Please enter a valid email</div>
      }@else if (submitted &&
      forgotPasswordForm.get('email')?.hasError('pattern')) {
      <div class="text-xs text-red-400">Please enter a Gmail email address</div>
      }
    </div>

    <!-- Submit Button -->
    <button
      type="submit"
      class="w-full py-2 px-4 bg-[#5B8E7D] text-sm text-white font-medium rounded-md transition duration-200 flex justify-center items-center gap-2"
      [disabled]="isLoading"
    >
      @if (isLoading) {
        <span>Sending...</span>
      }
      @if (!isLoading) {
        <span>Reset Password</span>
      }
    </button>

    <button
      [routerLink]="['/sign-in']"
      class="mt-4 w-full block text-center py-2 px-4 bg-indigo-500 text-sm text-white font-medium rounded-md transition duration-200"
    >
      Back
    </button>

    <!-- Success/Error Messages -->
    @if (successMessage) {
    <div class="mt-4 text-gray-500 text-sm">{{ successMessage }}</div>
    } @if (errorMessage) {
    <div class="mt-4 text-red-500 text-sm">{{ errorMessage }}</div>
    }
  </form>
</div>
