<div class="w-full overflow-x-hidden overflow-y-auto relative container">
    <div class="relative bg-white flex flex-col items-center justify-center p-4">
        <!-- Header -->
        <div class="text-center mb-6">
            <h1 class="font-bold text-black mb-1 title">In-Need</h1>
        </div>

        <!-- Form -->
        <form (ngSubmit)="onRegister()" [formGroup]="registerForm"
            class="w-full max-w-sm bg-white p-6 rounded-lg border border-[#00000040] shadow-xl">
            <div class="text-center mb-6">
                <h1 class="font-bold text-black  sign">Sign Up</h1>
                <p class="text-sm text-black py-2">Enter You Details to Proceed</p>

            </div>

            <!-- Name Field -->
            <div class="mb-3">
                <label for="username" class="block text-[13px] font-medium text-black">UserName</label>
                <input type="text" id="username" formControlName="username"
                    class="w-full p-2 text-sm bg-white border border-[#00000059] rounded-md text-black placeholder-gray-400 focus:ring-1 focus:ring-gray-300 focus:border-gray-500 outline-none transition"
                    placeholder="Enter Username" />


                @if(registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty ||
                registerForm.get('username')?.touched)){
                <div class="mt-1 text-xs text-red-400">
                    @if(registerForm.get('username')?.errors?.['required']){
                    <div>
                        {{ validationMessages.username.required }}
                    </div>
                    }
                    @if(registerForm.get('username')?.errors?.['minlength']){
                    <div>
                        {{ validationMessages.username.minlength }}
                    </div>
                    }
                    @if(registerForm.get('username')?.errors?.['maxlength']){
                    <div>
                        {{ validationMessages.username.maxlength }}
                    </div>
                    }

                    @if (registerForm.get('username')?.errors?.['pattern']) {
                    <div>
                        {{ validationMessages.username.pattern }}
                    </div>
                    }
                </div>
                }

            </div>

            <!-- Email Field -->
            <div class="mb-3">
                <label for="email" class="block text-[13px] font-medium text-black">Email</label>
                <input type="email" id="email" name="email" formControlName="email"
                    class="w-full p-2 text-sm bg-white border border-[#00000059] rounded-md text-black placeholder-gray-400 focus:ring-1 focus:ring-gray-300 focus:border-gray-500 outline-none transition"
                    placeholder="Enter a valid email account" required pattern="^[a-zA-Z0-9._%+\-]+@gmail\.com$" />


                @if (registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty ||
                registerForm.get('email')?.touched)) {
                <div class="mt-1 text-xs text-red-400">
                    @if (registerForm.get('email')?.errors?.['required']) {
                    <div>
                        {{ validationMessages.email.required }}
                    </div>
                    }
                    @if (registerForm.get('email')?.errors?.['email']) {
                    <div>
                        {{ validationMessages.email.email }}
                    </div>
                    }
                    @if (registerForm.get('email')?.errors?.['pattern']) {
                    <div>
                        {{ validationMessages.email.pattern }}
                    </div>
                    }
                </div>
                }


                <!-- Email already exists error  -->
                @if(registerForm.get('email')?.hasError('emailExists')){
                <div class="text-xs text-red-400 mt-1">
                    This email is already registered
                </div>
                }

            </div>

            <!-- Password Field -->
            <div class="mb-4 relative">
                <label for="password" class="block text-[13px] font-medium text-black">Password</label>
                <input [type]="showPassword ? 'text' : 'password'" id="password" name="password"
                    formControlName="password"
                    class="w-full p-2 text-sm bg-white border border-[#00000059] rounded-md text-black placeholder-gray-400 focus:ring-1 focus:ring-gray-300 focus:border-gray-500 outline-none transition"
                    placeholder="********" required minlength="8" maxlength="15" />
                <button type="button" (click)="showPassword = !showPassword" class="absolute right-2 top-6.5 text-lg eye">

                    @if(showPassword){
                    <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        </svg></span>
                    }
                    @if (!showPassword) {
                    <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.988 5.844A1.352 1.352 0 0 0 2.36 7.175l1.455 1.455A1.353 1.353 0 0 0 3.988 5.844ZM12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-1.232 0-2.435-.295-3.553-.84l4.244-4.243a3 3 0 1 0-4.243-4.243L3.988 5.844Z" />
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M14.25 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM4.5 9.75l-1.5-1.5" />
                        </svg></span>
                    }


                </button>

                @if (registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty ||
                registerForm.get('password')?.touched)) {
                <div class="mt-1 text-xs text-red-400">
                    @if(registerForm.get('password')?.errors?.['required']){
                    <div>
                        {{ validationMessages.password.required }}
                    </div>
                    }
                    @if(registerForm.get('password')?.errors?.['minlength']){
                    <div>
                        {{ validationMessages.password.minlength }}
                    </div>
                    }
                    @if(registerForm.get('password')?.errors?.['maxlength']){
                    <div>
                        {{ validationMessages.password.maxlength }}
                    </div>
                    }
                    @if(registerForm.get('password')?.errors?.['pattern']){
                    <div>
                        {{ validationMessages.password.pattern}}
                    </div>
                    }
                </div>
                }
            </div>

            <!-- Confirm Password Field -->
            <div class="mb-4 relative">
                <label for="confirmPassword" class="block mb-1 text-[13px] font-medium text-black">Confirm Password</label>
                <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" name="confirmPassword"
                    formControlName="confirmPassword"
                    class="w-full p-2 text-sm bg-white border border-[#00000059] rounded-md text-black placeholder-gray-400 focus:ring-1 focus:ring-gray-300 focus:border-gray-500 outline-none transition"
                    placeholder="********" required minlength="8" maxlength="15" />
                <button type="button" (click)="showConfirmPassword = !showConfirmPassword"
                    class="absolute right-2 top-6.5 text-lg eye">

                    @if(showConfirmPassword){
                    <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        </svg></span>
                    }
                    @if (!showConfirmPassword) {
                    <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.988 5.844A1.352 1.352 0 0 0 2.36 7.175l1.455 1.455A1.353 1.353 0 0 0 3.988 5.844ZM12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-1.232 0-2.435-.295-3.553-.84l4.244-4.243a3 3 0 1 0-4.243-4.243L3.988 5.844Z" />
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M14.25 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM4.5 9.75l-1.5-1.5" />
                        </svg></span>
                    }
                </button>

                @if(registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty ||
                registerForm.get('confirmPassword')?.touched)){
                <div class="mt-1 text-xs text-red-400">
                    @if(registerForm.get('confirmPassword')?.errors?.['required']){
                    <div>
                        {{ validationMessages.password.required }}
                    </div>
                    }
                    @if (registerForm.get('confirmPassword')?.errors?.['pattern']) {
                    <div>
                        {{ validationMessages.confirmPassword.pattern }}
                    </div>
                    }

                    @if (registerForm.errors?.['mismatch'] && registerForm.get('confirmPassword')?.touched) {
                    <div>
                        <div class="mt-1 text-xs text-red-400">Passwords do not match.</div>
                    </div>
                    }
                </div>
                }

            </div>

            <!-- Role Selection -->
            <div class="mb-3">
                <label for="role" class="block text-[13px] font-bold text-black">Sign up as</label>
                <select id="role" name="role" formControlName="role"
                    class="w-full p-2 bg-white border border-[#00000059] rounded-md text-gray-400 placeholder-gray-500 focus:ring-1 focus:ring-gray-300 focus:border-gray-500 outline-none transition"
                    required>
                    <option value="" disabled> Select Role </option>
                    <option value="INDIVIDUAL">Individual</option>
                    <option value="SPONSORS">Sponsor</option>
                    <option value="ORGANIZATION">Organization</option>
                </select>

                @if (registerForm.get('role')?.invalid && (registerForm.get('role')?.dirty ||
                registerForm.get('role')?.touched)) {
                <div class="mt-1 text-xs text-red-400">
                    @if (registerForm.get('role')?.errors?.['required']) {
                    <div>
                        {{ validationMessages.role.required }}
                    </div>

                    }
                </div>
                }
            </div>
            <!-- Submit Button -->
            <button type="submit"
                class="w-full py-2 px-4 bg-[#5B8E7D] hover:bg-[#4b8170] text-sm text-white font-medium rounded-md transition duration-200 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:ring-offset-1 focus:ring-offset-gray-800 btn"
                [disabled]="registerForm.invalid || isLoading">


                @if (!isLoading) {
                <span>Sign Up</span>
                }
                @if (isLoading) {
                <span>Processing...</span>
                }


            </button>

            <!-- Login Link -->
            <p class="mt-4 text-center text-sm text-gray-400">
                Already have an account?
                <a routerLink="/sign-in" class="text-black hover:underline">Sign in</a>
            </p>
        </form>
    </div>

    <!-- In your register -->
    @if (showVerificationModal) {
    <div class="fixed inset-0 bg-white bg-opacity-30 flex items-center justify-center z-50">
        <div class="rounded-lg shadow-xl max-w-md w-full mx-4 border border-gray-300 shadow-xl">
            <app-verify-email [email]="submittedEmail" [mode]="'email'" (close)="closeModal()"></app-verify-email>
        </div>
    </div>
    }


    <!-- Error -->
    @if(showErrorPopup){
    <div class="fixed inset-0 bg-white bg-opacity-50 flex items-center justify-center z-50">
        <div class="bg-white p-6 rounded-lg max-w-sm w-full mx-4 border border-gray-300 shadow-xl">
            <div class="flex flex-col items-center">
                <!-- Error Icon -->
                <div class="h-12 w-12 bg-red-100 rounded-full flex items-center justify-center mb-4">
                    <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </div>

                <!-- Error Message -->
                @if (showErrorPopup) {
                <div class="text-center mb-6">
                    <h1 class="text-3xl font-bold text-black mb-2">{{ errorMessage }}</h1>
                    <p class="text-sm text-black py-2">Please try again.</p>
                </div>
                }


                <!-- Close Button -->
                <button (click)="showErrorPopup = false"
                    class="w-full py-2 px-4 bg-red-500 text-sm text-white font-medium rounded-md transition duration-200">
                    Try Again
                </button>
            </div>
        </div>
    </div>
    }
</div>