<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
    </svg>
  </button>
  
  <aside id="default-sidebar" class="fixed top-0 left-0 z-40 h-screen sidebar" aria-label="Sidebar">
    <div class="flex h-screen">
  
      <!-- Sidebar -->
      <aside class="w-64 shadow-xl border-r border-gray-300 side3">
        <div class="panelHeading p-4">
          <h1 class="text-xl font-bold">Admin Panel</h1>
          <div class="desc text-sm text-gray-500">
            <p>Vetting and verification</p>
          </div>
        </div>
        <hr />
        <ul class="space-y-2 p-4">
          <li>
            <div class="items hover:bg-gray-100"  (click)="openPanel('pending')">
              <div class="leftItems">
              <div class="itemIcon">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 50 50">
              <path d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 24.984375 6.9863281 A 1.0001 1.0001 0 0 0 24 8 L 24 22.173828 A 3 3 0 0 0 22 25 A 3 3 0 0 0 22.294922 26.291016 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 23.708984 27.705078 A 3 3 0 0 0 25 28 A 3 3 0 0 0 28 25 A 3 3 0 0 0 26 22.175781 L 26 8 A 1.0001 1.0001 0 0 0 24.984375 6.9863281 z"></path>
              </svg>
              </div>
              <div class="itemButton">
              <button class="w-full text-left p-2 hover:bg-gray-100 rounded">Pending Que</button>
            </div>
            </div>
            <div class="notification">
              <button class="pendingNoti">1</button>
            </div>
            </div>
            </li>
              <li>
                <div class="items  hover:bg-gray-100" (click)="openPanel('approved')">
                  <div class="leftItems">
                  <div class="itemIcon">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 50 50">
                      <path d="M 25 2 C 12.309534 2 2 12.309534 2 25 C 2 37.690466 12.309534 48 25 48 C 37.690466 48 48 37.690466 48 25 C 48 12.309534 37.690466 2 25 2 z M 25 4 C 36.609534 4 46 13.390466 46 25 C 46 36.609534 36.609534 46 25 46 C 13.390466 46 4 36.609534 4 25 C 4 13.390466 13.390466 4 25 4 z M 34.988281 14.988281 A 1.0001 1.0001 0 0 0 34.171875 15.439453 L 23.970703 30.476562 L 16.679688 23.710938 A 1.0001 1.0001 0 1 0 15.320312 25.177734 L 24.316406 33.525391 L 35.828125 16.560547 A 1.0001 1.0001 0 0 0 34.988281 14.988281 z"></path>
                      </svg>
                  </div>
                    <div class="itemButton">
                <button class="w-full text-left p-2 hover:bg-gray-100 rounded">Approved</button>
              </div>
              </div>
              <div class="notification">
                <button class="approvedNoti">1</button>
              </div>
              </div>
              </li>
          <li>
            <div class="items  hover:bg-gray-100" (click)="openPanel('rejected')">
              <div class="leftItems">
              <div class="itemIcon">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 50 50">
              <path d="M 25 2 C 12.309534 2 2 12.309534 2 25 C 2 37.690466 12.309534 48 25 48 C 37.690466 48 48 37.690466 48 25 C 48 12.309534 37.690466 2 25 2 z M 25 4 C 36.609534 4 46 13.390466 46 25 C 46 36.609534 36.609534 46 25 46 C 13.390466 46 4 36.609534 4 25 C 4 13.390466 13.390466 4 25 4 z M 32.990234 15.986328 A 1.0001 1.0001 0 0 0 32.292969 16.292969 L 25 23.585938 L 17.707031 16.292969 A 1.0001 1.0001 0 0 0 16.990234 15.990234 A 1.0001 1.0001 0 0 0 16.292969 17.707031 L 23.585938 25 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 25 26.414062 L 32.292969 33.707031 A 1.0001 1.0001 0 1 0 33.707031 32.292969 L 26.414062 25 L 33.707031 17.707031 A 1.0001 1.0001 0 0 0 32.990234 15.986328 z"></path>
              </svg>
              </div>
              <div class="itemButton">
            <button class="w-full text-left p-2 hover:bg-gray-100 rounded">Rejected</button>
          </div>
          </div>
          <div class="notification">
            <button class="rejectedNoti">1</button>
          </div>
          </div>
          </li>
        </ul>
      </aside>
  
      <!-- Panel Content -->
      <div *ngIf="activePanel" class="p-6 transition-all duration-300 flex flex-grow middle">
  
        <!-- Middle Panel (Pending Applications) -->
        <div class="pr-4 border-r border-gray-300 mid">
          <div *ngIf="activePanel === 'pending'">
            <div class="topTitle mb-4">
              <h2 class="text-lg font-semibold title">Pending Applications</h2>
              <p class="text-sm text-gray-600">3 Applications</p>
              <!-- <p class="text-sm text-gray-600">{{ pendingApplications.length }} Applications</p> -->
            </div>
  
            <!-- Application Card -->
            <!-- <div *ngIf="applications.length; else noData" class="cards"> -->
              <div *ngIf="pendingApplications.length > 0; else noPending" class="cards space-y-4 cursor-pointer">
            <div>
                <!-- <div *ngFor="let app of pendingApplications" class="topCard cursor-pointer" (click)="selectApplication(app)"> -->
              <div *ngFor="let app of pendingApplications" (click)="selectApplication(app)">
              <div class="topCard">
                <div class="orgName">
                  <div class="companyLogo">
                    <div class="adminLogo">
                    <img src="adminLogo.png" alt="">
                    </div>
                  </div>
                  <div class="companyName">
                    <div class="name">
                    <h1>{{app.username}}</h1>
                    </div>
                    <div class="title">
                      <p class="orgTitle">Organisation</p>
                    </div>   
                     </div>
                </div>
                <div class="email">
                  <div class="emailIcon">
                  <img width="13" height="13" src="https://img.icons8.com/ios/50/new-post--v1.png" alt="email icon" />
                  </div>
                  <div class="address">
                  <p>{{app.email}}</p>
                  </div>
                </div>
                <div class="number">
                  <div class="emailIcon">
                  <img width="13" height="13" src="https://img.icons8.com/ios/50/phone--v1.png" alt="phone icon"/>
                  </div>
                  <div class="numbers">
                  <p>{{app.phone}}</p>
                  </div>
                </div>
                <div class="submitted">
                  <div class="emailIcon">
                  <img width="13" height="13" src="https://img.icons8.com/ios/50/overtime--v1.png" alt="time icon" />
                 </div>
                 <div class="timestamp">
                  <p>Submitted on 15/04/2025</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <ng-template #noPending><p>No pending applications.</p></ng-template>
        </div>
          <div *ngIf="activePanel === 'approved'">
            <div class="topTitle mb-4">
              <h2 class="text-lg font-semibold title">Approved Applications</h2>
              <p class="text-sm text-gray-600">3 Applications</p>
            </div>
  
            <!-- Application Card -->
            <div *ngIf="approvedApplications.length > 0; else noApproved" class="cards space-y-4 cursor-pointer">
              <div *ngFor="let app of approvedApplications" (click)="selectApplication(app)">
              <div class="topCard"  >
                <div class="orgName">
                  <div class="companyLogo">
                    <div class="adminLogo">
                    <img src="adminLogo.png" alt="">
                    </div>
                  </div>
                  <div class="companyName">
                    <div class="name">
                    <h1>Kg's Child Hope Center</h1>
                    </div>
                    <div class="title">
                      <p class="orgTitle">Organisation</p>
                    </div>   
                     </div>
                </div>
                <div class="email">
                  <div class="emailIcon">
                  <img width="13" height="13" src="https://img.icons8.com/ios/50/new-post--v1.png" alt="email icon" />
                  </div>
                  <div class="address">
                  <p>{{app.email}}</p>
                  </div>
                </div>
                <div class="number">
                  <div class="emailIcon">
                  <img width="13" height="13" src="https://img.icons8.com/ios/50/phone--v1.png" alt="phone icon"/>
                  </div>
                  <div class="numbers">
                  <p>011378492783</p>
                  </div>
                </div>
                <div class="submitted">
                  <div class="emailIcon">
                  <img width="13" height="13" src="https://img.icons8.com/ios/50/overtime--v1.png" alt="time icon" />
                 </div>
                 <div class="timestamp">
                  <p>Submitted on 15/04/2025</p>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <ng-template #noApproved>
              <p>No approved applications.</p>
            </ng-template>
          </div>
          <div *ngIf="activePanel === 'rejected'">
            <div class="topTitle mb-4">
              <h2 class="text-lg font-semibold title">Rejected Applications</h2>
              <p class="text-sm text-gray-600">3 Applications</p>
            </div>
  
            <!-- Application Card -->
            <div *ngIf="rejectedApplications.length > 0; else noRejected" class="cards cursor-pointer">
              <div *ngFor="let app of rejectedApplications">
                <div class="topCard" (click)="selectApplication(app)">
                <div class="orgName">
                  <div class="companyLogo">
                    <div class="adminLogo">
                    <img src="adminLogo.png" alt="">
                    </div>
                  </div>
                  <div class="companyName">
                    <div class="name">
                    <h1>Kg's Child Hope Center</h1>
                    </div>
                    <div class="title">
                      <p class="orgTitle">Organisation</p>
                    </div>   
                     </div>
                </div>
                <div class="email">
                  <div class="emailIcon">
                  <img width="13" height="13" src="https://img.icons8.com/ios/50/new-post--v1.png" alt="email icon" />
                  </div>
                  <div class="address">
                  <p>{{app.email}}</p>
                  </div>
                </div>
                <div class="number">
                  <div class="emailIcon">
                  <img width="13" height="13" src="https://img.icons8.com/ios/50/phone--v1.png" alt="phone icon"/>
                  </div>
                  <div class="numbers">
                  <p>011378492783</p>
                  </div>
                </div>
                <div class="submitted">
                  <div class="emailIcon">
                  <img width="13" height="13" src="https://img.icons8.com/ios/50/overtime--v1.png" alt="time icon" />
                 </div>
                 <div class="timestamp">
                  <p>Submitted on 15/04/2025</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #noRejected><p>No rejected applications.</p></ng-template>
        </div>
  
        <div *ngIf="selectedApplication" class="flex-1 pl-4 right">
   
          <div *ngIf="activePanel === 'approved'">
            <app-approved [application]="selectedApplication" (close)="closeDetails()"></app-approved>
          </div>
          <div *ngIf="activePanel === 'pending'">
            <!-- <app-pending [application]="selectApplication" (close)="closeDetails()"></app-pending> -->
            <app-pending
            [applications]="applications"
            [selectedApplication]="selectedApplication"
            (select)="selectApplication($event)"
            (close)="closeDetails()"
            (approved)="onApplicationApproved($event)"
            (rejected)="onApplicationRejected($event)"
          ></app-pending>
          
          </div>
          <div *ngIf="activePanel === 'rejected'">
            <app-rejected [application]="selectedApplication" (close)="closeDetails()"></app-rejected>
          </div>
        </div>
 
        <ng-template #noData>
          <p>No pending applications.</p>
        </ng-template>
      </div> <!-- end panel content -->
    </div> <!-- end main flex -->
  </aside>
  
  <!-- Confirmation Modal -->
<div *ngIf="showConfirmModal" class="fixed inset-0 bg-gray-100 flex justify-center items-center z-50 message">
  <div class="bg-white rounded-lg shadow-lg p-6 w-80">
    <h2 class="text-lg font-semibold text-gray-800 mb-4">{{ modalTitle }}</h2>
    <p class="text-sm text-gray-600 mb-6">{{ modalMessage }}</p>
    <div class="flex justify-end space-x-4">
      <div class="btnModal">
      <button (click)="cancelModal()" class="px-4 py-2 bg-[#D9D9D9] text-gray-700 rounded hover:bg-[#c8c8c8] cursor-pointer canclBtn">Cancel</button>
      <button (click)="confirmModalAction()" class="px-4 py-2 bg-[#5B8E7D] text-white rounded hover:bg-[#4b8170] cursor-pointer conBtn">Confirm</button>
  </div>
    </div>
  </div>
</div>
