
<div class="min-h-screen bg-white flex flex-col items-center justify-center p-4">
  <!-- Header -->
  <div class="text-center mb-8">
    <h1 class="text-3xl font-bold text-black mb-2">In-Need</h1>
  </div>

  <!-- Form -->
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
    class="w-full max-w-sm bg-white p-6 rounded-lg border border-gray-300 shadow-xl">
    <!-- Header -->
    <div class="text-center mb-8">
      <h1 class="text-3xl font-bold text-black mb-2">Sign In</h1>
      <p class="text-sm text-black py-2">Enter You Details to Proceed</p>
    </div>

    <!-- Email Field -->
    <div class="mb-6">
      <label for="email" class="block mb-1 text-xs font-medium text-black">Email</label>
      <input type="email" id="email" name="email" formControlName="email"
        class="w-full p-2 text-sm bg-white border border-gray-600 rounded-md text-black placeholder-gray-400 focus:ring-1 focus:ring-gray-300 focus:border-gray-500 outline-none transition"
        placeholder="example@gmail.com" required />
      <!-- Email validation -->
      <div *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched"
        class="text-xs text-red-400">
        Email is required
      </div>
      <div *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched" class="text-red-400">
        Please enter a valid email
      </div>
      <div *ngIf="loginForm.get('email')?.errors?.['pattern'] && loginForm.get('email')?.touched" class="text-red-400">
        Please enter a Gmail email address
      </div>
    </div>

    <!-- Password Field -->
    <div class="mb-5 relative">
      <div>
        <label for="password" class="block mb-1 text-xs font-medium text-black">Password</label>
        <input [type]="showPassword ? 'text' : 'password'" id="password" name="password" formControlName="password"
          class="w-full p-2 pr-10 text-sm bg-white border border-gray-600 rounded-md text-black placeholder-gray-400 focus:ring-1 focus:ring-gray-300 focus:border-gray-500 outline-none transition"
          placeholder="********" required minlength="8" maxlength="15" />
        <button type="button" (click)="showPassword = !showPassword" class="absolute right-2 top-6.5 text-lg">
          <span *ngIf="showPassword"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-500">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg></span>
          <span *ngIf="!showPassword"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-500">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M3.988 5.844A1.352 1.352 0 0 0 2.36 7.175l1.455 1.455A1.353 1.353 0 0 0 3.988 5.844ZM12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-1.232 0-2.435-.295-3.553-.84l4.244-4.243a3 3 0 1 0-4.243-4.243L3.988 5.844Z" />
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M14.25 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM4.5 9.75l-1.5-1.5" />
            </svg></span>
        </button>

        <!-- Password validation -->
        <div *ngIf="loginForm.get('password')?.touched" class="mt-1 text-xs text-red-400">
          <div *ngIf="loginForm.get('password')?.errors?.['required']">
            Password is required
          </div>
          <div *ngIf="loginForm.get('password')?.errors?.['minlength']">
            Password must be at least 8 characters long
          </div>
          <div *ngIf="loginForm.get('password')?.errors?.['maxlength']">
            Password must be at most 15 characters long
          </div>
        </div>
      </div>
    </div>

    <!-- Confirm Password Field -->
    <div class="mb-8 relative">
      <div>
        <label for="confirmPassword" class="block mb-1 text-xs font-medium text-black">Confirm Password</label>
        <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" name="confirmPassword"
          formControlName="confirmPassword"
          class="w-full p-2 text-sm bg-white border border-gray-600 rounded-md text-black placeholder-gray-400 focus:ring-1 focus:ring-gray-300 focus:border-gray-500 outline-none transition"
          placeholder="********" required minlength="8" maxlength="15" />
        <button type="button" (click)="showConfirmPassword = !showConfirmPassword"
          class="absolute right-2 top-6.5 text-lg">
          <span *ngIf="showConfirmPassword"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-500">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg></span>
          <span *ngIf="!showConfirmPassword"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-500">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M3.988 5.844A1.352 1.352 0 0 0 2.36 7.175l1.455 1.455A1.353 1.353 0 0 0 3.988 5.844ZM12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-1.232 0-2.435-.295-3.553-.84l4.244-4.243a3 3 0 1 0-4.243-4.243L3.988 5.844Z" />
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M14.25 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM4.5 9.75l-1.5-1.5" />
            </svg></span>
        </button>


        <!-- Confirm password validation -->
        <div *ngIf="loginForm.get('confirmPassword')?.touched" class="mt-1 text-xs text-red-400">
          <div *ngIf="loginForm.get('confirmPassword')?.errors?.['required']">
            Confirm Password is required
          </div>
          <div *ngIf="loginForm.get('confirmPassword')?.errors?.['minlength']">
            Minimum 8 characters required
          </div>
          <div *ngIf="loginForm.get('confirmPassword')?.errors?.['maxlength']">
            Maximum 15 characters allowed
          </div>
          <div *ngIf="loginForm.errors?.['mismatch']">
            Passwords do not match.
          </div>
        </div>

        <!-- Forgot Password Link -->
        <p class="text-right text-xs text-gray-400 mt-1">
          <a routerLink="/forgot-password" class="text-black hover:underline">
            Forgot Password?
          </a>
        </p>
      </div>
    </div>

    <!-- Submit Button -->
    <button type="submit" [disabled]="!loginForm.valid"
      class="w-full py-2 px-4 bg-blue-400 hover:bg-indigo-500 text-sm text-white font-medium rounded-md transition duration-200 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:ring-offset-1 focus:ring-offset-gray-800">
      Login
    </button>

    <!-- Login Link -->
    <p class="mt-4 text-center text-sm text-gray-400">
      You don't have an account yet?
      <a routerLink="/register" class="text-black hover:underline">Register</a>
    </p>
  </form>
</div>
message.txt
8 KB