<div class="topRight">
    <div class="backX">
    <button (click)="closeDetails()" class="text-sm text-black-500 mt-3 mb-4 back">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 50 50">
        <path d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z"></path>
        </svg>
    </button>
</div>
</div> 
<div class="container2">
<div class="heading">
  <div class="profile2">
    <div class="companyLogo2">
      <div class="adminLogo2">
      <img src="adminLogo.png" alt="" class="adminLogo2">
      </div>
    </div>
    <div class="companyName2">
      <div class="name">
      <h1>Kg's Child Hope Center</h1>
      </div>
      <div class="title">
      <p class="title2">Organisation</p>
      </div>
      <div class="submissionDate2">
        <div class="dateDiv">
        <p class="timestamp2">Submitted on 15/04/2025</p>
        </div>
        <div class="status2">
            <div class="statusDot">
          <button class="statusColour2"></button>
          </div>
        <div class="pending3">
          <p class="pending">Approved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact Info -->
<div class="contact2">
  <h1 class="font-semibold mb-2">Contact Information</h1>
  <div class="flex items-center mb-2 email2">
    <img width="22" height="22" src="https://img.icons8.com/ios/50/new-post--v1.png" />
    <p class="ml-2 emailP">{{ application?.email }}</p>
  </div>
  <div class="flex items-center number2">
    <img width="22" height="22" src="https://img.icons8.com/ios/50/phone--v1.png" />
    <p class="ml-2">{{ application?.phone }}</p>
  </div>
</div>

<!-- Verification Docs -->
<div class="verfication2 mt-6">
  <h1 class="font-semibold mb-2">Verification Documents</h1>

  <!-- Each document -->
  <div class="cipc2 flex items-center mb-3">
    <img width="22" height="22" src="https://img.icons8.com/ios/50/doc.png" />
    <p class="ml-2 flex-1 text">{{ application?.documents }}</p>
    <div class="download2">
      <!-- <div *ngFor="let doc of application?.documents" class="cipc2 flex items-center mb-3">
        <button class="pdfDownload2" (click)="downloadDocument(doc)">
            <div class="btnHolder flex items-center">
                <div class="btnImg">
          <img width="13" height="13" src="https://img.icons8.com/ios/50/download.png" />
          </div>
          <div class="btnText">
          <p class="ml-1 btnP">Download</p>
          </div>
      
          
          </div>
        </button>
        </div> -->
        <div *ngFor="let doc of application.documents">
          <!-- <p>{{ doc  }}</p> -->
          <button class="pdfDownload2">
              <div class="btnHolder flex items-center">
                  <div class="btnImg">
            <img width="13" height="13" src="https://img.icons8.com/ios/50/download.png" />
            </div>
            <div class="btnText">
            <p class="ml-1 btnP cursor-pointer" (click)="downloadDocument(doc)">Download</p>
            </div>
            </div>
          </button>
          </div>
  </div>
  </div>

  <div class="cipc2 flex items-center mb-3">
    <img width="22" height="22" src="https://img.icons8.com/ios/50/doc.png" />
    <p class="ml-2 flex-1 text">Founder ID.pdf</p>
    <button class="pdfDownload2">
        <div class="btnHolder flex items-center">
            <div class="btnImg">
      <img width="13" height="13" src="https://img.icons8.com/ios/50/download.png" />
      </div>
      <div class="btnText">
      <p class="ml-1 btnP">Download</p>
      </div>
      </div>
    </button>
  </div>

  <div class="cipc2 flex items-center mb-3">
    <img width="22" height="22" src="https://img.icons8.com/ios/50/doc.png" />
    <p class="ml-2 flex-1 text">Tax clearance.pdf</p>
    <button class="pdfDownload2">
        <div class="btnHolder flex items-center">
            <div class="btnImg">
      <img width="13" height="13" src="https://img.icons8.com/ios/50/download.png" />
      </div>
      <div class="btnText">
      <p class="ml-1 btnP">Download</p>
      </div>
      </div>
    </button> 
    </div>
  </div>
</div>

