<!-- Step 1: Donation Type -->
<div *ngIf="currentStep === 0">
  <app-donation-type
    [data]="donationData"
    (next)="updateForm($event); nextStep()">
  </app-donation-type>
</div>

<!-- Step 2: Donation Details --
<div *ngIf="currentStep === 1">
  <app-donation-details
    [data]="donationData"
    (next)="updateForm($event); nextStep()"
    (back)="previousStep()">
  </app-donation-details>
</div> -->

<!-- Step 3: Donation Frequency -->
<div *ngIf="currentStep === 1">
  <app-donation-frequency
    [data]="donationData"
    (next)="updateForm($event); nextStep()"
    (back)="previousStep()">
  </app-donation-frequency>
</div>

<!-- Step 4: Review and Submit -->
<div *ngIf="currentStep === 3">
  <app-donation-review
    [data]="donationData"
    (submit)="submitDonation()"
    (back)="previousStep()">
  </app-donation-review>
</div>
